@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

/* Shared Styles */
body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #000000;
    border: 2px solid red;
    box-sizing: border-box;
}
header,main{
    max-width: 1120px;
    margin: 0 auto;
    /* border: 2px solid green; */
}
.flex{
    display: flex;
}
.btn-primary{
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #E6533C;
    padding: 10px 20px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}
.section-title{
    font-size: 3rem;
    font-weight: 800;
}
.section-subtitle{
    opacity: 0.7;
    margin-bottom: 1.75rem;
    margin-top: 1rem;
}

/* navbar section styles */
.navbar{
    justify-content:space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.nav-title{
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
}
.nav-items{
    padding-right: 1rem;
    border: 1px solid rgba(80, 80, 80, 0.5);
    border-radius: 45px;
}
.hambar{
    display: none;
}
.nav-link{
    font-size: 1.125rem;
    text-decoration: none;
    margin-left: 3rem;
}

/* banner section styles */
.banner{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}
.banner-title-container{
    max-width: 550px;
}
.banner-title{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1.75rem;
    line-height: 4.5rem;
}
.shape{
    background: none;
    font-family: "Miama";
    font-weight: 100;
    font-size: 6rem;
}
.btn-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.image{
    width: 50%;
}
.banner-image img{
    width: 100%;
    position: relative;
}
/* .Badge-1{
    padding: 10px;
    justify-content:center;
    align-items: center;
    gap: 20px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 40px;
    right: 450px;
    
}
.play-icon{
    background-color: #E6533C;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 14px;
}
.play-title>h3{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.play-title>p{
    opacity: 0.7;
}
.Badge-2{
    padding: 10px;
    justify-content:center;
    align-items: center;
    gap: 20px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 350px;
    right: 200px;
} */

/* Styles habits section */
.habits-title-container{
    /* width:670px; */
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.habits-card-container{
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 231px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}
.habits-cards-title{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 1.75rem;
}
.habits-cards-subtitle{
    font-size: 0.85rem;
    opacity: 0.7;
    margin-top: 0.5rem;
}
.habits-image img{
    border-radius: 50%;
}

/* styles run section */
.run-container{
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: rgba(34, 34, 34, 1);
    padding: 30px;
    border-radius: 18px;
}
/* .run-title-container{
    width:400px;
} */
.run-btn{
    padding:10px 40px;
}
.run-images{
    width: 300px;
    height: 300px;
}
.run-images img{
    width: 100%;
    border-radius: 18px;
}
