@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Allura&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

/* Shared Styles */
body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #000000;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17), rgb(24, 23, 23) ); */
    border: 2px solid red;
}
.flex{
    display: flex;
}
.btn-primary{
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #E6533C;
    padding: 10px 20px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}
.section-title{
    font-size: 3rem;
    font-weight: 800;
}
.section-subtitle{
    opacity: 0.7;
    margin-bottom: 1.75rem;
}

/* navbar section styles */
.navbar{
    justify-content:space-between;
    align-items: center;
    padding: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.nav-title{
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
}
.nav-items{
    padding-right: 1rem;
    border: 1px solid rgba(80, 80, 80, 0.5);
    border-radius: 45px;
}
.nav-link{
    font-size: 1.125rem;
    text-decoration: none;
    margin-left: 3rem;
}

/* banner section styles */
.banner{
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    padding-bottom: 0;
}
.banner-title-container{
    width: 50%;
}
.banner-title{
    font-size: 4.75rem;
    font-weight: 800;
    margin-bottom: 1.75rem;
    line-height: 5rem;
}
.shape{
    background: none;
    font-family: "Allura";
    font-weight: 100;
    font-size: 6rem;
}
.image{
    width: 50%;
}
.banner-image img{
    width: 100%;
}

/* Styles habits section */
.habits-title-container{
    max-width:670px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.habits-card-container{
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 231px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}
.habits-cards-title{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 1.75rem;
}
.habits-cards-subtitle{
    font-size: 0.85rem;
    opacity: 0.7;
    margin-top: 0.5rem;
}
.habits-image img{
    border-radius: 50%;
}

/* styles run section */
