@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

/* Shared Styles */
body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #000000;
    box-sizing: border-box;
}
.navbar,.banner,.habits-container,.exercises-container,.team-container{
    max-width: 1120px;
    margin: 0 auto;
}

.flex{
    display: flex;
}
.btn-primary{
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #E6533C;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}
.titles-container{
    max-width: 670px;
    margin: 70px auto;
    text-align: center;
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
}
.section-subtitle{
    opacity: 0.7;
    margin-top: 16px;
}
.card-subtitle{
    font-size: 0.85rem;
    opacity: 0.7;
    margin-top: 8px;
}

header{
    background: linear-gradient(180.00deg, rgb(119 119 119 / 23%), rgb(17 17 17 / 34%) 100%);
}

/* navbar section styles */
.navbar{
    justify-content:space-between;
    align-items: center;
    padding: 2.5rem 0%;
}
.nav-title{
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
}
.nav-items{
    padding-right: 16px;
    border: 1px solid rgba(80, 80, 80, 0.5);
    border-radius: 45px;
}
.hambar{
    display: none;
}
.nav-link{
    font-size: 1.125rem;
    text-decoration: none;
    margin-left: 3rem;
}
.nav-btn{
    margin: 0%;
}


/* banner section styles */
.banner{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}
.banner-title-container{
    max-width: 550px;
}
.banner-title{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1.75rem;
    line-height: 100%;
}
.shape{
    background: none;
    font-family: "Miama";
    font-weight: 100;
    font-size: 8rem;
}
.btn-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.banner-image{
    position: relative;
}
.banner-image img{
    width: 100%;
    
}
.Badge-1{
    padding: 10px;
    justify-content:center;
    align-items: center;
    gap: 20px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 20%;
    
}
.play-icon{
    background-color: #E6533C;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 14px;
}
.play-title>h3{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.play-title>p{
    opacity: 0.7;
}
.Badge-2{
    padding: 10px;
    justify-content:center;
    align-items: center;
    gap: 20px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    position: absolute;
    top:30%;
    right:0%;
}    

/* Styles habits section */
.habits-card-container{
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.habits-card{
    max-width: 231px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.habits-cards-title{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 20px;
}

.habits-image img{
    border-radius: 50%;
}

/* styles run section */
.run-container{
    max-width: calc(1120px - 25px);
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: rgba(34, 34, 34, 1);
    padding: 20px;
    border-radius: 18px;
}
.run-title-container{
    max-width:400px;
}
.run-btn{
    padding:10px 40px;
}
.run-images{
    width: 300px;
    height: 300px;
}
.run-images img{
    width: 100%;
    border-radius: 18px;
}

/* exercises/optional section styles */
.exercises-card-container{
    margin-top: 55px;
}
.exercises-card-title{
    position: absolute;
    top: 50%;
    left: 30%;
    font-weight: 600;
}
.row-1,.row-2{
    display: grid;
    grid-template-columns: .6fr 1fr .7fr;
}
.row-2{
    grid-template-columns: 1fr .7fr .7fr;
}
.exercises-card-container .pictures{
    position: relative;
}
.exercises-card-container img{
    width: 100%;
    height: 100%;
}
.overlay-1,.overlay-2,.overlay-3,.overlay-4,.overlay-5,.overlay-6{
    width: 100%;
    height: 100%;
    position: absolute;
}
.overlay-1{
    background: rgba(6, 255, 210, 0.5);
}
.overlay-2{
    background: rgba(255, 0, 0, 0.3);
}
.overlay-3,.overlay-4{
    background: rgba(0, 0, 0, 0.5);
}
.overlay-5{
    background: rgba(66, 255, 0, 0.3);
}
.overlay-6{
    background: rgba(0, 71, 255, 0.3);
}

/* creative/parallax section styles */
.creative-container{
    margin-top:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 70vh;
    background: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0.38) 100%),url(../images/parallax\ background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
}
.quote{
    font-size: 4rem;
    margin: 50px;
}
.creative-container p{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 50px;
}
.quote-title{
    font-size: 1.25rem;
    font-weight: 300;
}

/* BMI calculator / challenge part section styles */
.bmi-calculator-container{
    max-width: 1440px;
    margin-bottom: 80px;
}
.bmi-titles{
    text-align: start;
}
.chart-calculator-container{
    justify-content: space-evenly;
    align-items:center;
    gap: 40px;
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.1);
}
.chart-title{
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 50px;
}
table{
    border-collapse:collapse;
}
table td,th{
    padding: 10px 20px;
    text-align: start;
    border: 1px solid rgb(78, 78, 78);
}
table td{
    opacity: 0.7;
}
.calculate-container{
    max-width: 550px;
}
.calculate-title{
    font-weight: 700;
    font-size: 1.75rem;
}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 32px;
}
form>input,select{
    padding: 12px 40px 12px 20px;
    border: none;
    border-radius: 8px;
    background-color:rgba(0, 0, 0, 0.591);
    color: gray;
    text-align: left;
}
.calculat-container>.section-subtitle{
    font-size: 0.85rem;
}
#activity{
    grid-column:span 2 ;
}

.calc-btn{
    padding: 14px 70px;
}


/* team section styles */
.team-cards-container{
    background-color: rgba(34, 34, 34, 1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 18px;
}
.team-cards-container img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.card-name{
    font-size: 1.25rem;
    font-weight: 600;
}
.team-card{
    width: 100%;
    height: 100%;
    position: relative;
}
.name-titles{
    position: absolute;
    top: 80%;
    left: 5%;
}

/* footer section styles */
footer{
    margin: 80px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0;

}
.footer-1{
    max-width: 440px;
}
.footer-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.footer-3 li{
    list-style: none;
    margin-top: 20px;
    opacity: 0.7;
}
.footer-3 .foot-title{
    font-weight: 700;
    font-size: 1.75rem;
}
footer>p, .footer{
    max-width: 1120px;
}
footer>p{
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: 0 auto;
    padding: 35px 0;
    opacity: 0.7;
}